.my-font{
	-fx-background-color:#3399ff;

}

.label, .button {
		-fx-text-fill: #fff
}

.round-page-button{
	-fx-background-color:#0066ff;
	-fx-background-radius:60.0;
	-fx-border-radius:60.0;
	-fx-border-width:1;
}

.tree-cell {
	-fx-padding: 20 10.0 20 0.0 
    /*-fx-shape: null;
    -fx-background-color: null;*/
}
.tree-cell:expanded .tree-disclosure-node .arrow {
     /*-fx-shape: null;
    -fx-background-color: null;*/
}

.tree-cell:hover {
	-fx-cursor: move
}

.tree-cell .tree-disclosure-node:hover{
	-fx-cursor: hand
}

/* .popover > .content {
    -fx-background-color: #3399ff; 

}

.popover  > .content > .accordion > .titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: #3399ff;
}

.popover  > .content > .accordion > .titled-pane > .title > .arrow-button {
    -fx-background-color: #3399ff;
}*/